//
//  Config.xcconfig
//  Americano
//
//  Created by Eden on 2024/8/29.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BUNDLE_IDENTIFIER = io.lzhlovesjqy.Americano
VERSION = 1.0.0
BUILD_NUMBER = 20251212001
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) USE_SPARKLE
